certifi==2023.11.17
cytoolz==1.1.0
eth-hash==0.8.0
eth-typing==6.0.0
eth-utils==6.0.0
idna==3.6
iniconfig==1.1.1
numpy==2.4.6
packaging==24.0
pandas==3.0.3
pluggy==1.4.0
psycopg2-binary==2.9.9
pycryptodome==3.23.0
pydantic==2.13.4
pytest==7.4.4
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
toolz==1.1.0
urllib3==2.0.7
